<ul id="eventsList" class="discoverEvents">
    {{#curators}}

    <div class="eventObj">
        <a href="/curator/{{slug}}" class="eventDetailLink">

            <li class="discoverEvent">  

                <div class="eventImg curatorImg" style="background-image: url('{{acf.avatar.sizes.medium}}');">
                </div>
             
                <div class="eventInformation curatorName">
                    <div class="eventTitle">
                        <h2>{{{title.rendered}}}</h2>
                    </div>
                </div>
                
            </li>
        </a>
    </div>
    {{/curators}}
</ul>
