<article class="filterBar">
<!--
    <button id="currentEvents">Current Events</button>
    <button id="resetEvents">Reset</button>
-->
    
    <a href="/day1" id="dayOneFilter" class="dayFilter filterActive"><h2>Day 1 </h2> <p> 8/10</p></a>
    <a href="/day2" id="dayTwoFilter" class="dayFilter filterActive"><h2>Day 2 </h2> <p> 9/10</p></a>
    


	<button id="innovationFilter" class="themeFilter innovationButton">Innovation</button>

	<button id="musicFilter" class="themeFilter musicButton">Music</button>

	<button id="foodFilter" class="themeFilter foodButton">Food</button>

    
           
</article>