<article class="filterBar">
<!--
        <button id="currentEvents">Current Events</button>
        <button id="resetEvents">Reset</button>
-->
        
        <!-- <div id="dayOneFilter" class="dayFilter filterActive" > -->
        	<a href="/day1" id="dayOneFilter" class="dayFilter filterActive">Day 1 - 8/10</a>
        <!-- </div> -->
        <!-- <div id="dayTwoFilter" class="dayFilter"> -->
        	<a href="/day2" id="dayTwoFilter" class="dayFilter">Day 2 - 9/10</a>
        <!-- </div> -->
        
        <div class="innovationFilter filterActive themeFilter">
        	<button>Innovation</button>
        </div>
        <div class="musicFilter themeFilter">
        	<button>Music</button>
        </div>
        <div class="foodFilter themeFilter">
        	<button>Food</button>
        </div>
        
        
<!--        <button class="filterButton">Filter</button>-->
        
</article>