<article class="filterBar">
<!--
        <button id="currentEvents">Current Events</button>
        <button id="resetEvents">Reset</button>
-->
        
        <button class="dayFilter" id="day1"><a href="/day1">DAY 1</a></button>
        <button class="dayFilter" id="day2"><a href="/day2">DAY 2</a></button>
        
<!--        <button class="filterButton">Filter</button>-->
        
</article>