<article class="filterBar">
<!--
        <button id="currentEvents">Current Events</button>
        <button id="resetEvents">Reset</button>
-->
        
        <div id="dayOneFilter" class="dayFilter filterActive" >
        	<button  id="day1"><a href="/day1">Day 1 - 8/10</a></button>
        </div>
        <div id="dayTwoFilter" class="dayFilter">
        	<button  id="day2"><a href="/day2">Day 2 - 9/10</a></button>
        </div>
        
        <div class="innovationFilter filterActive themeFilter">
        	<button>Innovation</button>
        </div>
        <div class="musicFilter themeFilter">
        	<button>Music</button>
        </div>
        <div class="foodFilter themeFilter">
        	<button>Food</button>
        </div>
        


        
<!--        <button class="filterButton">Filter</button>-->
        
</article>