<article class="filterBar">
<!--
    <button id="currentEvents">Current Events</button>
    <button id="resetEvents">Reset</button>
-->
    
    <a href="/day1" id="dayOneFilter" class="dayFilter filterActive">Day 1 - 8/10</a>
    <a href="/day2" id="dayTwoFilter" class="dayFilter filterActive">Day 2 - 9/10</a>
    


	<button id="innovationFilter" class="themeFilter innovationButton">Innovation</button>

	<button id="musicFilter" class="themeFilter musicButton">Music</button>

	<button id="foodFilter" class="themeFilter foodButton">Food</button>


           
</article>