<article class="filterBar">
    <div class="filterDayBar">
    	<a href="/day1" id="dayOneFilter" class="dayFilter filterActive"><h2>Day 1 </h2><p> 8/10</p></a>
    	<a href="/day2" id="dayTwoFilter" class="dayFilter filterActive"><h2>Day 2 </h2><p> 9/10</p></a>
    </div>
    <div class="fitlerThemeBar">
    	<button id="innovationFilter" class="themeFilter innovationButton"><p>Innovation</p></button>
		<button id="musicFilter" class="themeFilter musicButton"><p>Music</p></button>
		<button id="foodFilter" class="themeFilter foodButton"><p>Food</p></button>
    </div>
</article>