<section id="showDetail" class="hide">

    <button class="detailExit"></button>

    <article class="detailContainer">
        <button class="closeDetailButton">
            <svg id="closeFilterSvg" width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.8 14.7">
                <g id="XMLID_401_">
                    <g id="XMLID_399_">
                        <path id="XMLID_68_" class="st0" d="M1.148.018l13.577 13.576-1.132 1.13L.017 1.15z" />
                    </g>
                    <g id="XMLID_402_">
                        <path id="XMLID_67_" class="st0" d="M13.664-.053l1.13 1.13L1.22 14.656.087 13.523z" />
                    </g>
                </g>
            </svg>
        </button>
        <div id="detailInfo"></div>
    </article>

</section>