<section >
	<h1 class="curatorsHeader aboutHeader">About</h1>
	<div class="aboutArticle">
		<p>Van 17-18 september 2016 zal het Hamer-Kaap terrein omgetoverd worden tot festivalterrein van N-Festival. Twee dagen fungeert het festival als katalysator van avant-garde innovators, denkers, muzikanten, artiesten en chefs. Op dit anti-disciplinaire festival ontdek je de meest progressieve ontwikkelingen op het gebied van muziek, food en innovatie. Het programma introduceert nieuwkomers maar nodigt ook gevestigde namen uit, en omvat lezingen, shows, optredens en workshops.</p>
	</div>
	
	<h2 class="curatorsHeader">Contact</h2>
	
	<div class="aboutArticle">
		<h3>Stichting Northside Amsterdam</h3>
		<p>p.a. Lijnbaansstraat 17 II</p>
		<p>1016 ST Amsterdam</p>
		<p>KvK-nr 64200965</p>
		<p>NL43 INGB 0007 0023 55</p>
		<br />
		<p>www.facebook.com/nfestivalams</p>
		<p>Postbus 11241 1001 GE Amsterdam</p>
		<br />
		<p>Voor al je vragen, suggesties of spontane shout-outs, benader ons via hello@n-festival.com.</p>
	</div>



</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestAddToRoute.js"></script>