<section class="detailPage curatorDetail">

    {{#curatorDetail}}
    
    <div class="detailImg" style="background-image: url('{{acf.avatar.url}}');"></div>
    <div class="detaiImgSpace"></div>
    <div class="detailPageInfo">
    	<h1>{{{title.rendered}}}</h1> 
    
	    <p>{{{content.rendered}}}</p>
	    
	    {{/curatorDetail}} 
	    
	    <h2>Evenementen van deze Curator:</h2>
    </div>
    
    
    {{>eventList}}

</section>

<script src="/js/nfestAddToRoute.js"></script>
<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>