<section class="detailPage curatorDetail">

    {{#curatorDetail}}
        {{#if acf.avatar.url}}
        <div class="detailImg" style="background-image: url('{{acf.avatar.url}}');"></div>
        {{else}}
        <div class="detailImg" style="background-image: url('/img/fallbackCuratorLarge.png');"></div>
        {{/if}}
        <div class="detaiImgSpace"></div>
        <div class="detailPageInfo">
        	<h1>{{{title.rendered}}}</h1> 
    	    <p>{{{content.rendered}}}</p>
        </div>
	{{/curatorDetail}} 
    
    <header>
        <h3 class="curatorTitle">Evenementen van deze curator</h3>
    </header>
    
    {{>eventList}}
    
</section>

<!-- Scripts -->
<script src="/dist/js/nfestAddToRoute.js"></script>
<script src="/dist/js/nfestHelpers.js"></script>
<script src="/dist/js/nfestUx.js"></script>
<script src="/dist/js/nfestLocation.js"></script>
