<section id="homePage" class="toggleSection">
    {{> filterBar}}
    <div class="filterSpaceBar">
        
    </div>
    {{> eventList}}

  
</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<script src="/js/nfestAddToRoute.js"></script>
<script src="/js/nfestFilter.js"></script>
