{{> popupDetail}}

<section id="homePage" class="toggleSection">
    {{> filterBar}}

    {{> eventList}}

  
</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<!--<script src="/js/nfestDetailEvent.js"></script>-->
<script src="/js/nfestAddToRoute.js"></script>
