<section id="homePage" class="toggleSection">
    {{> filterBar}}
    <div class="filterSpaceBar">

    </div>


    <ul id="pastEvents">
        <p class="timeToEvent hide"></p>
    </ul>
    <ul id="currentEvents">
        <p class="timeToEvent hide"></p>
    </ul>
    <ul id="comingEvents">
        <p class="timeToEvent hide"></p>
    </ul>


    {{> eventList}}


</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestAddToRoute.js"></script>
<script src="/js/nfestFilter.js"></script>


<script src="/lib/moment.min.js"></script>
<script src="/lib/localenl.js"></script>
<script>
    moment.locale('nl');
</script>
<script src="/js/nfestTimeToEvent.js"></script>