<section id="homePage" class="toggleSection">
    {{> filterBar}}
    <div class="filterSpaceBar">

    </div>


    <ul id="pastEvents">
        <p class="timeToEvent hide"></p>
    </ul>
    <ul id="currentEvents">
        <p class="timeToEvent hide"></p>
    </ul>
    <ul id="comingEvents">
        <p class="timeToEvent hide"></p>
    </ul>


    {{> eventList}}


</section>

<script src="/dist/js/nfestHelpers.js"></script>
<script src="/dist/js/nfestUx.js"></script>
<script src="/dist/js/nfestAddToRoute.js"></script>
<script src="/dist/js/nfestFilter.js"></script>
<script src="/dist/js/nfestLocation.js"></script>
<script src="/dist/lib/moment.min.js"></script>
<script src="/dist/lib/localenl.js"></script>
<script>
    moment.locale('nl');
</script>
<script src="/dist/js/nfestTimeToEvent.js"></script>
<script src="/dist/js/nfestScroll.js"></script>