<!doctype html>
<html>

<head>
    <title>N-FESTIVAL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>

<body>

    <header class="topHeader">

        <div class="headerButton" id="menuButton">
            <a href="/"><svg class="menuIcon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.3 71.9">
                <g id="menuBars">
                    <g id="XMLID_34_">
                        <path id="menubar1" class="bar" d="M0 10.2h56.3v8.6H0z" />
                    </g>
                    <g id="XMLID_35_">
                        <path id="menubar2" class="bar" d="M0 31.6h56.3v8.6H0z" />
                    </g>
                    <g id="XMLID_36_">
                        <path id="menubar3" class="bar" d="M0 53.1h56.3v8.6H0z" />
                    </g>
                </g>
            </svg></a>
            <button class="backButton hide" ><svg class="backIcon " height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.6 32.2"><path id="XMLID_4_" class="st0" d="M18.6 2.5L16.1 0 0 16.1l16.1 16.1 2.5-2.5L5 16.1z"/></svg></button>
        </div>
        <a href="/">
            <svg class="logoIcon" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.3 71.9">
                <path class="st0" d="M44.1 59.2V0H38v35.4L18.5 0h-6.9zM4.6 0H0v71.9h6.1V15.4l6.1 11.2v45.3h6.1V37.7l18.8 34.2h7zM50.2 0v71.9h6.1V0z" />
            </svg>
        </a>
        <a href="/myroute" class="myRoute">
            
            <div id="myRouteCounter"></div>

        </a>
    </header>

    <div class="subHeader"></div>


    {{{body}}}
    
</body>

</html>