<article class="filterBar locations"> 
    <a href="/location" id="dayOneFilter" class="dayFilter filterActive"><h2>Lijst</h2></a>
    <a href="/locationMapView" id="dayTwoFilter" class="dayFilter"><h2>Kaart</h2></a>         
</article>
<div class="LocationFilterSpaceBar"></div>
<section id="mapViewFilter">
	{{> locations}}
</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestAddToRoute.js"></script>