<section id="locationViewFilter">
	<a href="/location" id="listView">Lijst</a>
	<a href="/locationMapView" id="mapView">Kaart</a>
</section>

<section>
	{{> map}}
</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<script src="/js/nfestMap.js"></script>