<section>
    <h1>Lijst met locaties A/Z - Kaart</h1> {{> map}}
</section>


<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<script src="/js/nfestMap.js"></script>