<section style="display:flex;flex-direction:row;flex-wrap:wrap;">
	<a href="/location" id="listView" style="width:50%;text-align:center;padding:1em 0;">Lijst</a>
	<a href="/locationMapView" id="mapView" style="width:50%;text-align:center;padding:1em 0;">Kaart</a>
</section>

<section>
	{{> map}}
</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<script src="/js/nfestMap.js"></script>