<article id="aboutSection">	
	<div class="aboutArticle">
        <h1>About</h1>
		<p>Van <span class="aboutOne highlight">8 tot 9 oktober</span> 2016 zal het Hamer-Kaap terrein omgetoverd worden tot festivalterrein van N-Festival. <span class="aboutTwo highlight">Twee dagen</span> fungeert het festival als katalysator van avant-garde innovators, denkers, muzikanten, artiesten en chefs. Op dit anti-disciplinaire festival ontdek je de meest <span class="aboutThree highlight">progressieve</span> ontwikkelingen op het gebied van muziek, food en innovatie. Het programma introduceert nieuwkomers maar nodigt ook gevestigde namen uit, en omvat lezingen, shows, optredens en workshops.</p>
	</div>
    <div class="aboutBackButton">
        <svg class="backToMenu " height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.6 32.2" alt="Back Button">
            <path id="XMLID_4_" class="st0" d="M18.6 2.5L16.1 0 0 16.1l16.1 16.1 2.5-2.5L5 16.1z" />
        </svg>
    </div>
</article>

<nav id="menu">
    <ul>
       	<li><a href="/discover">Discover</a></li>
        <li><a href="/program">Programma</a></li>
        <li><a href="/location">Locaties</a></li>
        <li><a href="/curator">Sprekers</a></li>      
        
    	<article id="newsFeed">
			{{#firstItems}}
                <section class="newsItem">
                    <div class="news">
                        <h1>{{{title.rendered}}}</h1>
                        <p>{{{content.rendered}}}</p>
                    </div>
                </section>
            {{/firstItems}}
            <div class="newsDots">
                <svg width="7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.2 6.2"><circle cx="3.1" cy="3.1" r="3.1"/></svg>
                <svg width="7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.2 6.2"><circle cx="3.1" cy="3.1" r="3.1"/></svg>
                <svg width="7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.2 6.2"><circle cx="3.1" cy="3.1" r="3.1"/></svg>
            </div>
		</article>
    
    </ul>
</nav> 

<!-- Scripts -->
<script src="dist/js/nfestAddToRoute.js"></script>
<script src="dist/js/nfestHelpers.js"></script>
<script src="dist/js/nfestUx.js"></script>
<script src="dist/js/nfestMenu.js"></script>
<script src="dist/js/nfestScroll.js"></script>
