<article id="aboutSection">	
	<div class="aboutArticle">
		<p><button id="scrollme" type="button">To the top</button>Van 8 tot 9 oktober 2016 zal het Hamer-Kaap terrein omgetoverd worden tot festivalterrein van N-Festival. Twee dagen fungeert het festival als katalysator van avant-garde innovators, denkers, muzikanten, artiesten en chefs. Op dit anti-disciplinaire festival ontdek je de meest progressieve ontwikkelingen op het gebied van muziek, food en innovatie. Het programma introduceert nieuwkomers maar nodigt ook gevestigde namen uit, en omvat lezingen, shows, optredens en workshops.</p>
	</div>
</article>

<nav id="menu">
    <ul>
       	<li><a href="/">Discover</a></li>
        <li><a href="/program">Programma</a></li>
        <li><a href="/location">Locaties</a></li>
        <li><a href="/curator">Sprekers</a></li>
        {{!-- <li><a href="/about">About</a></li> --}}
        <li>
        	<article id="newsFeed">
				<p>nieuws</p>
			</article>
        </li>
    </ul>
</nav> 

<script src="/js/nfestAddToRoute.js"></script>
{{!-- <script src="/js/nfestMyRoute.js"></script> --}}
<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
