<nav id="menu">
    <ul>
        <li><a href="/program">Programma</a></li>
        <li><a href="/location">Locaties</a></li>
        <li><a href="/curratorList">Currators</a></li>
        <li><a href="/">Discover</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<!-- <article id="newsFeed">
	nieuws
</article> -->