<section id="myTimetable" class="toggleSection">
    {{> map}}
</section>

<section id="infoText">
	<h2>Voeg evenementen toe aan uw route zodat u deze kan bewaren.</h2>
</section>

<section id="myTimetableList">
	{{> eventList}}
</section>

<script src="/js/nfestAddToRoute.js"></script>
<script src="/js/nfestMyRoute.js"></script>
<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestMap.js"></script>