{{!-- <section class="filterBar myRoute"> 
    <a href="/myroute" id="dayOneFilter" class="dayFilter"><h2>Lijst</h2></a>
    <a href="/myroutemap" id="dayTwoFilter" class="dayFilter filterActive"><h2>Kaart</h2></a>         
</section>

<section id="myTimetable" class="toggleSection">
    {{> map}}
</section>

<script src="/js/nfestAddToRoute.js"></script>
<script src="/js/nfestMyRoute.js"></script>
<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestLocation.js"></script>
<script src="/js/nfestUx.js"></script> --}}