<section id="myTimetable" class="toggleSection">
    {{> map}}
</section>

<section id="infoText">
    <h2>Voeg evenementen toe aan uw route zodat u deze kunt bewaren.</h2>
    <a href="/program" class="goToProgramButton">Bekijk evenementen</a>
</section>

<section id="myTimetableList">
    {{> eventList}}
</section>

<ul id="eventsDay1">
    <p class="timeToEvent hide"></p>
</ul>
<ul id="eventsDay2">
    <p class="timeToEvent hide"></p>
</ul>

<script src="/dist/lib/moment.min.js"></script>
<script src="/dist/lib/localenl.js"></script>
<script>
    moment.locale('nl');
</script>

<script src="/dist/js/nfestAddToRoute.js"></script>
<script src="/dist/js/nfestMyRoute.js"></script>
<script src="/dist/js/nfestHelpers.js"></script>
<script src="/dist/js/nfestUx.js"></script>
<script src="/dist/js/nfestLocation.js"></script>
<script src="/dist/js/nfestMap.js"></script>