<!--{{> popupDetail}}    -->

<section id="showEvents" class="toggleSection">

    <h1>Browse all events</h1>

    {{> eventList}}

</section>

<script src="/js/nfestHelpers.js"></script>
<script src="/js/nfestUx.js"></script>
<script src="/js/nfestLocation.js"></script>
<!--<script src="/js/nfestDetailEvent.js"></script>-->
<script src="/js/nfestAddToRoute.js"></script>