* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.topHeader {
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.topHeader svg {
	fill: white;
}

section {
	display: none;
	opacity: 0;
}

.active {
	display: block;
	opacity: 1;
}

.show {
	display: inline-block !important;
}